<p>
<strong>Title:</strong>
<%= @product.title %>
</p>

<p>
<strong>Status:</strong>
<%= @product.status %>
</p>

<p>
<strong>Features Supported:</strong>
<%= @product.supportedFeatures %>
</p>

<%= link_to 'Home', controller: 'welcome' %>
<%= link_to 'All Products', controller: 'products' %>